/*
 * Folhas de estilo do template do site.
 * By Luferat
 */

/* Importa algumas bibliotecas externas. */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* RESET - Normalize */

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    /* Fonte padrão da página. */
    font-family: Roboto, sans-serif;
    /* Define a unidade responsiva 'rem', onde 1rem = 16px. */
    font-size: 16px;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

/* Define o fundo padrão da página. */

body {
    /* Fundo */
    background-attachment: fixed;
    background-color: rgb(0, 0, 89);
    background-image: url('/img/background01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Limita e centraliza a página usando 'wrap'. */

#wrap {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

/* Renderiza cabeçalho. */

#wrap>header {
    background-color: white;
    margin: 0.5rem;
    border-radius: .35rem;
    border: 1px dotted grey;
    display: flex;
    align-items: center;
}

#wrap>header a {
    font-size: 4rem;
    color: orange;
    -webkit-text-stroke: 1px black;
    padding: 0 .5rem;
}

#wrap>header img {
    width: 4rem;
}

#wrap>header h1 {
    margin: 0;
}