.autor-art-list {
    padding: 0;
    padding-left: 1rem;
    line-height: 1.4;
}

.art-author {
    padding-top: 1rem;
}

.art-author img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: .3rem;
}

.art-author h3 {
    margin-bottom: 0;
}

.art-author h5 {
    margin-top: .25rem;
}

.dateAuthor {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: .25rem .5rem;
    background-color: rgb(202, 202, 202);
    border-radius: .25rem;
}

#commentForm {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

#commentForm textarea,
#commentForm button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    border-radius: .3rem;
}

#commentForm textarea {
    width: 100%;
    height: 7rem;
    padding: .5rem;
    resize: vertical;
    border: 1px solid grey;
    margin-top: .5rem;
}

#commentForm button {
    border: none;
    background-color: steelblue;
    color: white;
    padding: .5rem 1rem;
    margin-top: .25rem;
    cursor: pointer;
}

#commentForm button:hover {
    background-color: orangered;
}

#commentList small {
    margin: 0;
}

.cmtContent {
    margin: .75rem 1rem 1.5rem 1rem;
}

@media screen and (min-width: 480px) {

    .dateAuthor {
        flex-direction: row;
    }

    #commentForm {
        width: 90%;
    }
}