
.autor-art-list {
    padding: 0;
    padding-left: 1rem;
    line-height: 1.4;
}

.art-author {
    padding-top: 1rem;
}

.art-author img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: .3rem;
}

.art-author h3 {
    margin-bottom: 0;
}

.art-author h5 {
    margin-top: .25rem;
}